
<html lang="pt-pt">

<head>
  <meta charset="UTF-8">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">


  <link rel="apple-touch-icon" sizes="180x180" href="./assets/apple-icon-180x180.png">
  <link href="/images/favicon.ico" rel="icon">

  <title>Sobre mim</title>  

<link href="/style/main.d8e0d294.css" rel="stylesheet"></head>

<body class="is-background">

<!-- Add your content of header -->

<main class="content-wrapper">
  <header class="white-text-container section-container">
    <div class="text-center">
      <h1>Kelven Rubalaine</h1>
      <p>Programador full stack</p>
      <p>
        <a class="fa-icon fa-icon-2x" href="https://facebook.com/" title="">
          <i class="fa fa-facebook"></i>
        </a>
        <a class="fa-icon fa-icon-2x" href="https://twitter.com/" title="">
          <i class="fa fa-twitter"></i>
        </a>
        <a class="fa-icon fa-icon-2x" href="https://dribbble.com/" title="">
          <i class="fa fa-dribbble"></i>
        </a>
        <a class="fa-icon fa-icon-2x" href="https://www.linkedin.com/" title="">
          <i class="fa fa-linkedin"></i>
        </a>
        <a class="fa-icon fa-icon-2x" href="https://vimeo.com/" title="">
          <i class="fa fa-vimeo"></i>
        </a>
      </p>
    </div>
  </header>



<!-- Add your site or app content here -->

  <div class="container">
    <div class="row">
      <div class="col-xs-12">

        <div class="card">
          <div class="card-block">
            <h2>Sobre mim</h2>
            <div class="row">
              <div class="col-md-3">
                <p><img src="/images/me.jpg" class="img-responsive" alt="kelven Rubalaine"></p>
              </div>
              <div class="col-md-9">

              <p>Apenas um estudante de engenharia informática na Universidade Zambeze, amante de programação, e tentando tranformar os meus pensamentos em codigo</p>

              </div>
            </div>
          </div>
        </div>

        //- <div class="card">
        //-   <div class="card-block">
        //-     <h2>Projects</h2>
        //-     <div class="row">
        //-       <div class="col-md-4">
        //-         <img src="./assets/images/img-02.jpg" class="img-responsive" alt="">
        //-         <h3 class="h5">Amelia App</h3>
        //-         <p>June 2017</p>
        //-       </div>
        //-       <div class="col-md-4">
        //-         <img src="./assets/images/img-03.jpg" class="img-responsive" alt="">
        //-         <h3 class="h5">Portland</h3>
        //-         <p>March 2017</p>
        //-       </div>
        //-       <div class="col-md-4">
        //-         <img src="./assets/images/img-04.jpg" class="img-responsive" alt="">
        //-         <h3 class="h5">Denz for Nilon</h3>
        //-         <p>Jan 2017</p>
        //-       </div>
        //-     </div>
        //-   </div>
        //- </div>

        //- <div class="card">
        //-   <div class="card-block">
        //-     <h2>Work</h2>
        //-     <div class="work-experience">
        //-       <small class="date">2017-2015</small>
        //-       <h3 class="h5 date-title">Web developer - <a href="http://en.orson.io" title="Create professionnal website">Orson.io</a></h3>


        //-       <p>Leo vel orci porta non pulvinar neque laoreet suspendisse interdum. Vitae ultricies leo integer malesuada nunc. Imperdiet proin fermentum leo vel orci porta non pulvinar neque. Fermentum leo vel orci porta non. Posuere sollicitudin aliquam ultrices sagittis. Aliquam faucibus purus in massa tempor nec.</p>
        //-     </div>

        //-     <div class="work-experience">
        //-       <small class="date">2017-2015</small>
        //-       <h3 class="h5 date-title">Web developer - <a href="http://mashup-template.com" title="">Mashup Template</a></h3>

        //-       <p>Fermentum leo vel orci porta non. Posuere sollicitudin aliquam ultrices sagittis. Aliquam faucibus purus in massa tempor nec.</p>
        //-     </div>
        //-   </div>
        //- </div>


        <div class="card">
          <div class="card-block">
            <h2>Formação</h2>
            <div class="row">
              <div class="col-md-4">
                <div class="education-experience">
                  <small class="date">2020-2020</small>
                  <h3 class="h5 date-title">NodeJS Express and mongoDB</h3>
                  <p>Udemy</p>
                </div>

              </div>
              <div class="col-md-4">
                <div class="education-experience">
                  <small class="date">2018- -</small>
                  <h3 class="h5 date-title">Licenciatura em engenharia informática</h3>
                  <p>Universidade Zambeze</p>
                </div>
              </div>

            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-block">
            <h2>Idíomas</h2>
            <div class="row">
              <div class="col-md-4">
                <div class="language-experience">
                  <h3 class="h5">Português  <small>Nativo</small></h3>
                </div>
              </div>
              <div class="col-md-4">
                <div class="language-experience">
                  <h3 class="h5">Inglês  <small>Intermediário</small></h3>
                </div>
              </div>
            </div>
          </div>
        </div>

        //- <div class="card">
        //-   <div class="card-block">
        //-     <h2>Projects</h2>
        //-     <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">


        //-     <!-- Wrapper for slides -->
        //-     <div class="carousel-inner" role="listbox">
        //-       <div class="item active">
        //-         <img src="./assets/images/img-05.jpg" class="img-responsive" alt="...">
        //-         <div class="carousel-caption">
        //-           <h3 class="h5">Jules for Bastion</h3>
        //-           <p>2017</p>
        //-         </div>
        //-       </div>
        //-       <div class="item">
        //-         <img src="./assets/images/img-06.jpg" class="img-responsive" alt="...">
        //-         <div class="carousel-caption">
        //-           <h3 class="h5">Jules for Bastion</h3>
        //-           <p>2017</p>
        //-         </div>
        //-       </div>

        //-       <div class="item">
        //-         <img src="./assets/images/img-08.jpg" class="img-responsive" alt="...">
        //-         <div class="carousel-caption">
        //-           <h3 class="h5">Jules for Bastion</h3>
        //-           <p>2017</p>
        //-         </div>
        //-       </div>
        //-     </div>

        //-     <!-- Indicators -->
        //-     <ol class="carousel-indicators">
        //-       <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        //-       <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        //-       <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        //-     </ol>

        //-   </div>
        //-   </div>
        //- </div>

        <div class="card">
          <div class="card-block">
            <h2>Contactos</h2>
            <div class="row">
              <div class="col-md-3">
                <p class=""><i class="fa fa-phone"></i>&nbsp;+258 842798702</p>
              </div>
              <div class="col-md-3">
                <p class=""><i class="fa fa-linkedin"></i>&nbsp;Kelven Rubalaine</p>
              </div>
              <div class="col-md-3">
                <p class=""><i class="fa fa-envelope"></i>&nbsp;kelvenizzy@gmail.com</p>
              </div>
            </div>
          </div>
        </div>



      </div>
    </div>
  </div>

</main>
<footer class="footer-container white-text-container text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <p><img src="./assets/images/mashup-icon.svg" alt=""></p>

        <p>©All right reserved. Design <a href="http://www.mashup-template.com/" title="Create website with free html template">Mashup Template</a>/<a href="https://unsplash.com/" title="Beautiful Free Images">Unsplash</a></p>
        <p>
          <a class="fa-icon fa-icon-2x" href="https://facebook.com/" title="">
            <i class="fa fa-facebook"></i>
          </a>
          <a class="fa-icon fa-icon-2x" href="https://twitter.com/" title="">
            <i class="fa fa-twitter"></i>
          </a>
          <a class="fa-icon fa-icon-2x" href="https://dribbble.com/" title="">
            <i class="fa fa-dribbble"></i>
          </a>
          <a class="fa-icon fa-icon-2x" href="https://www.linkedin.com/" title="">
            <i class="fa fa-linkedin"></i>
          </a>
          <a class="fa-icon fa-icon-2x" href="https://vimeo.com/" title="">
            <i class="fa fa-vimeo"></i>
          </a>
        </p>
      </div>
    </div>
  </div>
</footer>

<script>
  document.addEventListener("DOMContentLoaded", function (event) {
    scrollRevelation('.card')
  })
</script>
<script type="text/javascript" src="/scripts/main.bc58148c.js"></script></body>

</html>