doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet', href='/style/home.css')
  link(rel='shortcut icon', href='/images/favicon.ico', type='image/x-icon')
  title= title
  script(src='https://api.mapbox.com/mapbox-gl-js/v1.11.0/mapbox-gl.js')
  link(href='https://api.mapbox.com/mapbox-gl-js/v1.11.0/mapbox-gl.css', rel='stylesheet')
body
  block content

  script(src='/scripts/mapbox.js')
  script(src='/scripts/index.js')
  script(src='https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js')


