nav.top-side.is-shadowed
  <ul class="menu">
    <li class="logo"><a href="#">Covid-monitor Moz</a></li>
    //- <li class="item"><a href="#">Sobre Mim</a></li>
    //- <li class="item"><a href="#">About</a></li>
    //- <li class="item"><a href="#">Blog</a></li>
    //- <li class="item"><a href="#">Contact</a>
    </li>
    //- <li class="item nav-button"><a href="#">Log In</a></li>
    //- <li class="item nav-button secondary"><a href="#">Sign Up</a></li>
    //- <li class="toggle"><a href="#"><i class="fas fa-bars"></i></a></li>
  </ul>
