nav.top-side.is-shadowed
  #myTopnav.topnav

    a.active.is-bold(href='/' target="_blank") COVID-MOZ
    a.is-twitter(href='https://twitter.com/kelven55554701')
      //- i.fa.fa-twitter 
      span @Kelven Rubalaine
    a(href='#') Como se proteger

    a.icon(href='javascript:void(0);', onclick='myFunction()')
      i.fa.fa-bars
