nav.top-side.is-shadowed
//-   .navbar
//-     img.logo.logo-img(src="/style/good.png")
//-     ul
//-       li.logo
//-         a(href='#home') Moznitor
//-       li
//-         a(href='#news') Prevencão
//-       li
//-         a(href='#contact') Sobre Mim
